body {
  margin: 0;
  overflow: hidden;
  background: white;
}

.face-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

#lico {
  position: absolute;
  width: 180px; /* или другой размер */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1010;
}


#lico-label {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  margin-top: 10px;
}

.clone {
  position: absolute;
  width: 180px;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
#lineCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1000; /* ниже картинок */
}
